.CardTable {
  text-align: center;
  flex-direction: column;
  width: 100%;
  display: flex;
}

h1, h3 {
  color: cyan;
  text-shadow: black 0px 0px 4px;
  transition: color 1500ms;
}

.CardTable > main {
  display: flex;
  width: 100%;
  flex: 1;
}

.Card {
  cursor: pointer;
  margin: 8px;
}
